.tetrominos-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 0;
  width: 100%;
  transform: translateX(-15px);
}

.tetrominos {
  position: relative;
  width: 96px;
  height: 112px;
}

.tetromino {
  width: 96px;
  height: 112px;
  position: absolute;
  transition: all ease .3s;
  background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdCb3g9JzAgMCA2MTIgNjg0Jz48cGF0aCBmaWxsPScjMDEwMTAxJyBkPSdNMzA1LjcgMEwwIDE3MC45djM0Mi4zTDMwNS43IDY4NCA2MTIgNTEzLjJWMTcwLjlMMzA1LjcgMHonLz48cGF0aCBmaWxsPScjZmZmJyBkPSdNMzA1LjcgODAuMWwtMjMzLjYgMTMxIDIzMy42IDEzMSAyMzQuMi0xMzEtMjM0LjItMTMxJy8+PC9zdmc+') no-repeat top center;
}

.box1 {
  animation: tetromino1 1.5s ease-out infinite;
}
.box2 {
  animation: tetromino2 1.5s ease-out infinite;
}
.box3 {
  animation: tetromino3 1.5s ease-out infinite;
  z-index: 2;
}
.box4 {
  animation: tetromino4 1.5s ease-out infinite;
}

@keyframes tetromino1 {
  0%, 40% { transform: translate(0,0); } 
  50% { transform: translate(48px, -27px); } 
  60%, 100% { transform: translate(96px, 0); }
}

@keyframes tetromino2 {
  0%, 20% { transform: translate(96px, 0px); } 
  40%, 100% { transform: translate(144px, 27px); }
}

@keyframes tetromino3 {
  0% { transform: translate(144px, 27px); } 
  20%, 60% { transform: translate(96px, 54px); } 
  90%, 100% { transform: translate(48px, 27px); }
}

@keyframes tetromino4 {
  0%, 60% { transform: translate(48px, 27px); } 
  90%, 100% { transform: translate(0, 0); }
}
